../bin/Debug/
../bin/
/AlteraAPI/bin/Debug/net8.0
/AlteraAPI/obj
/.vs
/.vscode
/bin/Debug
/CadastroAPI/bin/Debug/net8.0
/CadastroAPI/obj
/Data/bin/Debug/net8.0
/Data/obj
/Domain/bin/Debug/net8.0
/Domain/obj
/obj
/AlteraAPITest/bin/Debug/net8.0
/AlteraAPITest/obj
/CadastroAPIIntegrationTest/bin/Debug/net8.0
/CadastroAPIIntegrationTest/obj
/CadastroAPITest/bin/Debug/net8.0
/CadastroAPITest/obj
/ConsultaAPI/bin/Debug/net8.0
/ConsultaAPI/obj
/DeleteAPI/bin/Debug/net8.0
/DeleteAPI/obj
/Consumidor/obj
/Consumer/obj
/DeleteAPITest/bin/Debug/net8.0
/DeleteAPITest/obj
/ProdutorAPI/obj
/Consumer/bin/Debug/net8.0
/ProdutorAPI/bin/Debug/net8.0
/AlteraAPIIntegrationTest/obj
/DeletaAPIIntegrationTest/bin/Debug/net8.0
/DeletaAPIIntegrationTest/obj
/AlteraAPIIntegrationTest/bin/Debug/net8.0
